:root {
  --main-bgr-color: #ffffff;
  --main-text-color: #434455;
  --main-page-section-title-color: #2e2f42;
  --logo-main-color: #4d5ae5;
  --header-logo-studio-color: #2e2f42;
  --header-link-color: #434455;
  --header-link-hover-focus-color: #4d5ae5;
  --header-linkk-botton-line-color: #404bbf;
  --header-border-color: #e7e9fc;
  --header-box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  --hero-bgr-color: #2e2f42;
  --hero-title-color: #ffffff;
  --hero-btn-content-color: #ffffff;
  --hero-btn-bgr-color: #4d5ae5;
  --hero-btn-bgr-color-hover-focus: #404bbf;
  --hero-btn-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --hero-lineral-gradient: linear-gradient(
    to right,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  );
  --adventages-icon-bgr-color: #f4f4fd;
  --item-title-color: #2e2f42;
  --section-team-bgr-color: #f4f4fd;
  --team-item-box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  --team-item-bgr-color: #ffffff;
  --team-icon-bgr-color: #4d5ae5;
  --team-icon-bgr-hover-color: #404bbf;
  --footer-bgr-color: #2e2f42;
  --footer-logo-studio-color: #f4f4fd;
  --footer-subtitle-color: #e7e9fc;
  --footer-subtitle-social-media-text-color: #ffffff;
  --footer-subtitle-subscribe-form-text-color: #ffffff;
  --footer-icon-bgr-color: rgba(255, 255, 255, 0.1);
  --footer-icon-bgr-hover-focus: #31d0aa;
  --footer-subscribe-input-input-border: 1px solid rgba(255, 255, 255, 0.3);
  --footer-subscribe-input-placeholder-color: rgba(255, 255, 255, 0.3);
  --footer-subscribe-input-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  --subscribe-button-bgr-color: #4d5ae5;
  --portfolio-btn-bgr-color-normal: #f4f4fd;
  --portfolio-btn-border: #e7e9fc;
  --portfolio-btn-bgr-color-hover-focus: #404bbf;
  --portfolio-btn-content-color: #4d5ae5;
  --portfolio-btn-content-color-hover-focus: #ffffff;
  --portfolio-cards-border-color: #e7e9fc;
  --portfolio-cards-border-hover-color: #f4f4fd;
  --portfolio-btn-hover-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --portfolio-link-box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  --portfolio-link-box-hover-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  --portfolio-card-hover-bgr-color: #4d5ae5;
  --portfolio-text-bgr-color: #f4f4fd;
  --customers-item-link-color: #8e8f99;
  --customers-item-link-border-color: #8e8f99;
  --customers-item-link-hover-color: #404bbf;
  --backdrop-bgr-color: rgba(46, 47, 66, 0.4);
  --modal-bgr-color: #fcfcfc;
  --modal-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --close-btn-bgr-color: #e7e9fc;
  --close-btn-border: 1px solid rgba(0, 0, 0, 0.1);
  --close-icon-color: #000000;
  --close-btn-bgr-hover-color: #404bbf;
  --close-icon-hover-color: #ffffff;
  --modal-title-color: #2e2f42;
  --modal-form-label-color: #8e8f99;
  --modal-form-item-input-border: 1px solid rgba(33, 33, 33, 0.2);
  --modal-form-privat-policy-checkbox-text-color: #757575;
  --modal-form-submit-button-bgr-color: #4d5ae5;
  --modal-form-submit-button-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --modal-form-submit-button-text-color: #ffffff;
  --privacy-policy-link-color: #4d5ae5;
  --modal-form-item-hover-border: 1px solid #4d5ae5;
  --modal-form-checkbox-border: 1.25px solid #2e2f42;
  --modal-form-checkbox-border-focus: 1.25px solid #404bbf;
  --modal-form-checkbox-border-focus-bgr: #404bbf;
  --modal-form-icon-hover-color: #4d5ae5;
  --standart-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.button {
  cursor: pointer;
  font-family: inherit;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  border: none;
}
.section-title {
  margin: 0 auto 72px auto;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  color: var(--main-page-section-title-color);
}
.item {
  display: inline-block;
}
.item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 8px;
}
.item-text {
  margin-top: 0;
  margin-bottom: 0;
}
body {
  background-color: var(--main-bgr-color);
  color: var(--main-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.container {
  padding: 0 16px;
  margin: 0 auto;
}
.social-media-icon-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 8px;
}
.social-media-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--team-icon-bgr-color);
  border-radius: 50%;
  transition: background-color 250ms var(--standart-cubic);
}
.social-media-icon-link:hover,
.social-media-icon-link:focus {
  background-color: var(--team-icon-bgr-hover-color);
}
/* ------------ HEADER ------------ */
.header {
  border-bottom: 1px solid var(--header-border-color);
  box-shadow: var(--header-box-shadow);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: var(--logo-main-color);
}

.header-logo {
  padding: 24px 0;
  margin: 0;
}

.header-logo-studio {
  color: var(--header-logo-studio-color);
}

.hero {
  background: var(--hero-bgr-color);
  background-image: var(--hero-lineral-gradient),
    url(../images/phone-hero-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.hero-container {
  margin: 0 auto;
  max-width: 100%;
  height: 432px;
  padding-top: 112px;
  padding-bottom: 112px;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  height: 80px;
  font-size: 36px;
  letter-spacing: 0.02em;
  text-align: center;
  font-weight: 700;
  line-height: 1.1;
  color: var(--hero-title-color);
}

.hero-button {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 16px 32px;
  border: none;
  background: var(--hero-btn-bgr-color);
  color: var(--hero-btn-content-color);
  box-shadow: var(--hero-btn-box-shadow);
  transition: background-color 250ms var(--standart-cubic);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--hero-btn-bgr-color-hover-focus);
  outline: var(--hero-btn-bgr-color-hover-focus);
}

/* ------------ MEDIA ------------ */
/* ------------ JUST PHONE ------------ */
@media screen and (max-width: 767px) {
  .header-list {
    display: none;
  }
  .header-address {
    display: none;
  }

  .phone-menu-open-button {
    line-height: 0;
    background-color: transparent;
  }
  .phone-menu-open-icon {
    stroke: currentColor;
  }
  .phone-menu-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 80px;
    padding-left: 40px;
    padding-bottom: 40px;
    top: 0;
    left: 0;
    background-color: var(--main-bgr-color);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 300ms var(--standart-cubic),
      visibility 250ms var(--standart-cubic);
  }
  .phone-menu-container.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .phone-menu-item {
    display: block;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
  }
  .phone-menu-link:hover,
  .phone-menu-link:focus,
  .current {
    color: var(--header-link-hover-focus-color);
  }
  .phone-menu-item:last-child {
    margin-bottom: 0;
  }
  .phone-menu-address-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: auto;
  }
  .tel-link {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    color: var(--subscribe-button-bgr-color);
  }
  .mail-link {
    font-size: 20px;
  }
  .phone-menu-social-list {
    margin-top: 48px;
    justify-content: space-between;
    padding-right: 44px;
  }
  .modal-close-button {
    position: absolute;
    display: flex;
    width: 24px;
    height: 24px;
    right: 24px;
    top: 24px;
    justify-content: center;
    align-items: center;
    background-color: var(--close-btn-bgr-color);
    border: var(--close-btn-border);
    border-radius: 50%;
    fill: var(--close-icon-color);
    transition: background-color 250ms var(--standart-cubic),
      fill 250ms var(--standart-cubic);
  }
  .modal-close-button:hover,
  .modal-close-button:focus {
    background-color: var(--close-btn-bgr-hover-color);
    fill: var(--close-icon-hover-color);
  }
}

/* ------------ PHONE ------------ */
/* @media screen and (min-width: 480px) {
*/

/* ------------ TABLET ------------ */
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .phone-menu-open-button {
    display: none;
  }
  .phone-menu-open-button {
    display: none;
  }
  .header-container {
    align-items: end;
    padding: 0 16px;
  }
  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-logo {
    margin-right: 120px;
  }
  .header-list {
    display: flex;
    gap: 40px;
  }
  .header-link {
    position: relative;
    display: block;
    font-weight: 500;
    color: var(--header-link-color);
    padding: 24px 0;
  }
  .header-link:hover,
  .header:link:focus {
    color: var(--header-link-hover-focus-color);
  }
  .header-link::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--header-linkk-botton-line-color);
    transition: transform 250ms var(--standart-cubic);
    transform: scale(0, 0);
  }
  .header-link:hover:after,
  .header-link:focus:after,
  .current::after {
    transform: scale(1, 1);
  }
  .header-address-list {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    gap: 4px;
  }
  .header-address-link {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    font-style: normal;
    color: var(--header-link-color);
    transition: color 250ms var(--standart-cubic);
  }
  .header-address-link:hover,
  .header-address-link:focus {
    color: var(--header-link-hover-focus-color);
  }
  .phone-menu-open-button {
    display: none;
  }
  .phone-menu-container {
    display: none;
  }

  .hero {
    background-image: var(--hero-lineral-gradient),
      url(../images/tablet-hero-image.jpg);
  }

  .hero-container {
    height: 436px;
    padding-bottom: 108px;
  }

  .hero-title {
    margin-bottom: 40px;
    max-width: 496px;
    height: 120px;
    font-size: 56px;
    line-height: 1.07;
  }
}

/* ------------ DESCTOP ------------ */
@media screen and (min-width: 1200px) {
  .container {
    width: 1160px;
  }
  .header-container {
    align-items: center;
  }
  .header-logo {
    margin-right: 76px;
  }
  .header-address-list {
    flex-direction: row;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .header-address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .hero {
    background-image: var(--hero-lineral-gradient),
      url(../images/decktop-hero-image.jpg);
  }

  .hero-container {
    height: 600px;
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .hero-title {
    margin-bottom: 48px;
  }
}
