/* --------------- FOOTER --------------- */
.footer {
  background: var(--footer-bgr-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo-text-box {
  display: inline-block;
  margin-right: 120px;
}

.footer-sotial-media-box {
  display: inline-block;
}

.footer-logo {
  margin-bottom: 16px;
  display: inline-block;
}

.footer-logo-studio {
  color: var(--footer-logo-studio-color);
  display: inline-block;
}

.footer-text {
  color: var(--footer-subtitle-color);
  width: 264px;
  margin: 0;
}

.footer-social-media-text {
  width: auto;
  color: var(--footer-subtitle-social-media-text-color);
  font-weight: 500;
}

.footer-icon-list {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.footer-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--footer-icon-bgr-color);
  border-radius: 50%;

  transition: background-color 250ms var(--standart-cubic);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: var(--footer-icon-bgr-hover-focus);
}

.footer-subscribe-form {
  margin-left: 80px;
}
.footer-subscribe-text {
  width: auto;
  margin-bottom: 16px;
  color: var(--footer-subtitle-social-media-text-color);
  font-weight: 500;
}

.footer-subscribe-box {
  display: flex;
  gap: 16px;
}

.footer-subscribe-form input {
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  color: var(--footer-subtitle-subscribe-form-text-color);
  background-color: inherit;
  border: var(--footer-subscribe-input-input-border);
  filter: var(--footer-subscribe-input-filter);
  border-radius: 4px;
  transition: border-color 250ms var(--standart-cubic);
}

.footer-subscribe-form input:hover,
.footer-subscribe-form input:focus {
  border-color: #4d5ae5;
  outline: #4d5ae5;
}

.footer-subscribe-form input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--footer-subscribe-input-placeholder-color);
}

.footer-subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 8px 24px;
  background-color: var(--subscribe-button-bgr-color);
  color: var(--footer-subtitle-subscribe-form-text-color);
  transition: background-color 250ms var(--standart-cubic);
}

.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
  background-color: #404bbf;
}

/* --------------- PORTFOLIO BUTTONS--------------- */
.portfolio {
  /* padding-top: 168px;  for fixed header*/
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-buttons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.portfolio-buttons-item {
  margin-right: 24px;
}

.portfolio-buttons-item:last-child {
  margin-right: 0;
}

.portfolio-button {
  background-color: var(--portfolio-btn-bgr-color-normal);
  border: 1px solid var(--portfolio-btn-border);
  padding: 12px 24px;
  color: var(--portfolio-btn-content-color);

  transition: color 250ms var(--standart-cubic),
    background-color 250ms var(--standart-cubic),
    box-shadow 250ms var(--standart-cubic),
    border-color 250ms var(--standart-cubic);
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--portfolio-btn-bgr-color-hover-focus);
  color: var(--portfolio-btn-content-color-hover-focus);
  box-shadow: var(--portfolio-btn-hover-shadow);
  border-color: transparent;
}

/* --------------- PORTFOLIO CARDS--------------- */

.portfolio-cards-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-cards-item {
  margin-bottom: 48px;
  margin-right: 24px;
}

.portfolio-cards-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-cards-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms var(--standart-cubic);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: var(--portfolio-link-box-hover-shadow);
}

.portfolio-card-box {
  position: relative;
  overflow: hidden;
}

.portfolio-card-box-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px 164px;
  background-color: var(--portfolio-card-hover-bgr-color);
  color: var(--portfolio-text-bgr-color);
  transition: transform 250ms var(--standart-cubic);
  transform: TranslateY(100%);
}

.portfolio-link:hover .portfolio-card-box-overlay,
.portfolio-link:focus .portfolio-card-box-overlay {
  transform: TranslateY(0);
}

.cards-content-container {
  padding: 32px 16px;
  border: 1px solid var(--portfolio-cards-border-color);
  border-top: none;
}

.portfolio-cards-item-title {
  color: var(--item-title-color);
}
