:root {
  --main-bgr-color: #ffffff;
  --main-text-color: #434455;
  --main-page-section-title-color: #2e2f42;

  --logo-main-color: #4d5ae5;
  --header-logo-studio-color: #2e2f42;
  --header-link-color: #434455;
  --header-link-hover-focus-color: #4d5ae5;
  --header-linkk-botton-line-color: #404bbf;
  --header-border-color: #e7e9fc;
  --header-box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

  --hero-bgr-color: #2e2f42;
  --hero-title-color: #ffffff;
  --hero-btn-content-color: #ffffff;
  --hero-btn-bgr-color: #4d5ae5;
  --hero-btn-bgr-color-hover-focus: #404bbf;
  --hero-btn-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --hero-lineral-gradient: linear-gradient(
    to right,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  );

  --adventages-icon-bgr-color: #f4f4fd;

  --item-title-color: #2e2f42;

  --section-team-bgr-color: #f4f4fd;
  --team-item-box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  --team-item-bgr-color: #ffffff;
  --team-icon-bgr-color: #4d5ae5;
  --team-icon-bgr-hover-color: #404bbf;

  --footer-bgr-color: #2e2f42;
  --footer-logo-studio-color: #f4f4fd;
  --footer-subtitle-color: #e7e9fc;
  --footer-subtitle-social-media-text-color: #ffffff;
  --footer-subtitle-subscribe-form-text-color: #ffffff;
  --footer-icon-bgr-color: rgba(255, 255, 255, 0.1);
  --footer-icon-bgr-hover-focus: #31d0aa;
  --footer-subscribe-input-input-border: 1px solid rgba(255, 255, 255, 0.3);
  --footer-subscribe-input-placeholder-color: rgba(255, 255, 255, 0.3);
  --footer-subscribe-input-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  --subscribe-button-bgr-color: #4d5ae5;

  --portfolio-btn-bgr-color-normal: #f4f4fd;
  --portfolio-btn-border: #e7e9fc;
  --portfolio-btn-bgr-color-hover-focus: #404bbf;
  --portfolio-btn-content-color: #4d5ae5;
  --portfolio-btn-content-color-hover-focus: #ffffff;
  --portfolio-cards-border-color: #e7e9fc;
  --portfolio-cards-border-hover-color: #f4f4fd;
  --portfolio-btn-hover-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --portfolio-link-box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  --portfolio-link-box-hover-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  --portfolio-card-hover-bgr-color: #4d5ae5;
  --portfolio-text-bgr-color: #f4f4fd;

  --customers-item-link-color: #8e8f99;
  --customers-item-link-border-color: #8e8f99;
  --customers-item-link-hover-color: #404bbf;

  --backdrop-bgr-color: rgba(46, 47, 66, 0.4);
  --modal-bgr-color: #fcfcfc;
  --modal-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --close-btn-bgr-color: #e7e9fc;
  --close-btn-border: 1px solid rgba(0, 0, 0, 0.1);
  --close-icon-color: #000000;
  --close-btn-bgr-hover-color: #404bbf;
  --close-icon-hover-color: #ffffff;
  --modal-title-color: #2e2f42;
  --modal-form-label-color: #8e8f99;
  --modal-form-item-input-border: 1px solid rgba(33, 33, 33, 0.2);
  --modal-form-privat-policy-checkbox-text-color: #757575;
  --modal-form-submit-button-bgr-color: #4d5ae5;
  --modal-form-submit-button-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --modal-form-submit-button-text-color: #ffffff;
  --privacy-policy-link-color: #4d5ae5;
  --modal-form-item-hover-border: 1px solid #4d5ae5;
  --modal-form-checkbox-border: 1.25px solid #2e2f42;
  --modal-form-checkbox-border-focus: 1.25px solid #404bbf;
  --modal-form-checkbox-border-focus-bgr: #404bbf;
  --modal-form-icon-hover-color: #4d5ae5;

  --standart-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

.button {
  cursor: pointer;
  padding: 0;
  font-family: inherit;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  border: none;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  color: var(--main-page-section-title-color);
}

.item-text {
  margin-top: 0;
  margin-bottom: 0;
}

.item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 8px;
}

.section-title {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.social-media-icon-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 8px;
}

.social-media-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--team-icon-bgr-color);
  border-radius: 50%;

  transition: background-color 250ms var(--standart-cubic);
}

.social-media-icon-link:hover,
.social-media-icon-link:focus {
  background-color: var(--team-icon-bgr-hover-color);
}

body {
  background-color: var(--main-bgr-color);
  color: var(--main-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .header-list {
    display: none;
  }

  .header-address {
    display: none;
  }

  .phone-menu-open-button {
    line-height: 0;
    background-color: transparent;
  }

  .phone-menu-open-icon {
    stroke: currentColor;
  }

  .phone-menu-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 80px;
    padding-left: 40px;
    padding-bottom: 40px;
    top: 0;
    left: 0;
    background-color: var(--main-bgr-color);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms var(--standart-cubic),
      visibility 250ms var(--standart-cubic);
  }

  .phone-menu-container.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .phone-menu-item {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
  }

  .phone-menu-link:hover,
  .phone-menu-link:focus,
  .current {
    color: var(--header-link-hover-focus-color);
  }

  .phone-menu-item:last-child {
    margin-bottom: 0;
  }

  .phone-menu-address-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: auto;
  }

  .tel-link {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    color: var(--subscribe-button-bgr-color);
  }

  .mail-link {
    font-size: 20px;
  }

  .phone-menu-social-list {
    margin-top: 48px;
    justify-content: space-between;
    padding-right: 44px;
  }

  .modal-close-button {
    position: absolute;
    display: flex;
    width: 24px;
    height: 24px;
    right: 24px;
    top: 24px;
    justify-content: center;
    align-items: center;
    background-color: var(--close-btn-bgr-color);
    border: var(--close-btn-border);
    border-radius: 50%;
    fill: var(--close-icon-color);
    transition: background-color 250ms var(--standart-cubic),
      fill 250ms var(--standart-cubic);
  }

  .modal-close-button:hover,
  .modal-close-button:focus {
    background-color: var(--close-btn-bgr-hover-color);
    fill: var(--close-icon-hover-color);
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
  }

  .phone-menu-container {
    display: none;
  }

  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-list {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .phone-menu-open-button {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1160px;
  }
}

/* --------------- HEADER --------------- */
.header {
  border-bottom: 1px solid var(--header-border-color);
  box-shadow: var(--header-box-shadow);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: var(--logo-main-color);
}

.header-logo {
  padding: 24px 0;
  margin: 0 76px 0 0;
}

.header-logo-studio {
  color: var(--header-logo-studio-color);
}

/*
.header-list {
  width: 261px;
}
.header-link {
  position: relative;
  display: block;
  font-weight: 500;
  color: var(--header-link-color);
  padding: 24px 0;
}

.header-link:hover,
.header-link:focus {
  color: var(--header-link-hover-focus-color);
}

.header-link::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--header-linkk-botton-line-color);
  transition: transform 250ms var(--standart-cubic);
  transform: scale(0, 0);
}

.header-link:hover:after,
.header-link:focus:after,
.current::after {
  transform: scale(1, 1);
}

.header-address-item {
  margin-right: 40px;
}

.header-address-item:last-child {
  margin-right: 0px;
}

.header-address-link {
  display: block;
  padding: 24px 0;
  font-style: normal;
  color: var(--header-link-color);

  transition: color 250ms var(--standart-cubic);
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--header-link-hover-focus-color);
} */

/* --------------- HERO --------------- */
/* .hero { */

/* margin-top: 72px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;  for fixed header*/

/* margin: 0 auto;
  background: var(--hero-bgr-color);
  max-width: 1440px;
  height: 600px;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: var(--hero-lineral-gradient),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  width: 494px;
  height: 120px;
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.1;
  color: var(--hero-title-color);
}

.hero-button {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 16px 32px;
  border: none;
  background: var(--hero-btn-bgr-color);
  color: var(--hero-btn-content-color);
  box-shadow: var(--hero-btn-box-shadow);

  transition: background-color 250ms var(--standart-cubic);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--hero-btn-bgr-color-hover-focus);
  outline: var(--hero-btn-bgr-color-hover-focus);
} */

/* --------------- BACKDROP --------------- */

/* .backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: var(--backdrop-bgr-color);

  transition: transform 500ms var(--standart-cubic),
    opacity 500ms var(--standart-cubic);
  transform: scaleY(1);
  opacity: 1;
}

.backdrop.is-hidden {
  transform: scaleY(0);
  pointer-events: none;
  opacity: 0;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  height: 576px;
  background: var(--modal-bgr-color);
  box-shadow: var(--modal-box-shadow);
  border-radius: 4px;
}*/

/*
.modal-form {
  padding: 72px 24px 24px 24px;
}

.modal-form-box {
  display: flex;
  flex-direction: column;
}

.modal-form-text {
  text-align: center;
  color: var(--modal-title-color);
  font-weight: 500;
}

.modal-form-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 14px;
  margin-bottom: 16px;
}

.modal-form-item label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--modal-form-label-color);
}

.modal-form-input {
  padding-left: 38px;
  height: 40px;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  border: var(--modal-form-item-input-border);
  border-radius: 4px;
  outline: none;
  transition: border 250ms var(--standart-cubic);
}

.modal-form-item textarea {
  height: 120px;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  border: var(--modal-form-item-input-border);
  border-radius: 4px;
  resize: none;
  outline: none;
  transition: border 250ms var(--standart-cubic);
}

.modal-form-item textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-input:hover,
.modal-form-input:focus,
.textarea:hover,
.textarea:focus {
  border: var(--modal-form-item-hover-border);
}

.modal-form-item-input-box {
  position: relative;
}

.modal-form-item-input-icon {
  position: absolute;
  fill: currentColor;
  left: 16px;
  top: 8px;
  transition: fill 250ms var(--standart-cubic);
}

.modal-form-input:hover + .modal-form-item-input-icon,
.modal-form-input:focus + .modal-form-item-input-icon {
  fill: var(--modal-form-icon-hover-color);
}

.modal-form-item-box {
  display: flex;
  flex-direction: column;
}

.modal-form-policy-box {
  display: flex;
  text-align: center;
  align-items: center;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: var(--modal-form-privat-policy-checkbox-text-color);
}

.policy-checkbox {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}

.modal-form-checkbox-bgr {
  position: relative;
  display: inline-block;
  height: 16px;
  width: 16px;
  border: var(--modal-form-checkbox-border);
  border-radius: 2px;
  margin-right: 8px;
  transition: background-color 250ms var(--standart-cubic),
    border 250ms var(--standart-cubic);
  cursor: pointer;
}

.checked-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 250ms var(--standart-cubic);
}

.policy-checkbox:checked + .modal-form-checkbox-bgr {
  background-color: var(--modal-form-checkbox-border-focus-bgr);
  border: var(--modal-form-checkbox-border-focus);
  background-origin: border-box;
}

.policy-checkbox:checked + .modal-form-checkbox-bgr .checked-icon {
  opacity: 1;
}

.policy {
  display: flex;
  align-items: center;
}

.privacy-policy-link {
  color: var(--privacy-policy-link-color);
  text-decoration: underline;
  transition: color 250ms var(--standart-cubic);
}

.privacy-policy-link:hover,
.privacy-policy-link:focus {
  color: var(--hero-btn-bgr-color-hover-focus);
}

.modal-form-submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  padding: 16px 68px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--modal-form-submit-button-bgr-color);
  box-shadow: var(--modal-form-submit-button-box-shadow);
  border-radius: 4px;
  letter-spacing: 0.04em;
  color: var(--modal-form-submit-button-text-color);
  transition: background-color 250ms var(--standart-cubic);
}

.modal-form-submit-button:hover,
.modal-form-submit-button:focus {
  background-color: var(--hero-btn-bgr-color-hover-focus);
} */

/* --------------- ADVANTAGES --------------- */
/* .section-adventages {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-adventages-item {
  width: 264px;
}

.section-adventages-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  background-color: var(--adventages-icon-bgr-color);
  border-radius: 4px;
}

.section-adventages-item-title {
  margin-top: 8px;
  color: var(--main-page-section-title-color);
  margin-bottom: 8px;
} */

/* --------------- PROJECTS --------------- */
/* .section-projects {
  padding-bottom: 120px;
} */

/* --------------- TEAM --------------- */
/* .section-team {
  background-color: var(--section-team-bgr-color);
  padding-bottom: 120px;
  padding-top: 120px;
}

.team-container {
  text-align: center;
}

.team-item-content-container {
  padding-top: 32px;
  padding-bottom: 32px;
  box-shadow: var(--team-item-box-shadow);
  border-radius: 0px 0px 4px 4px;
}
.section-team-item {
  background-color: var(--team-item-bgr-color);
}

.section-team-item-title {
  color: var(--item-title-color);
}

 */

/* --------------- CUSTOMERS --------------- */
/* .section-customers {
  padding-top: 130px;
  padding-bottom: 120px;
}

.section-customers-list {
  display: flex;
  gap: 24px;
}

.section-customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  color: var(--customers-item-link-color);
  border: 1px solid var(--customers-item-link-border-color);
  border-radius: 4px;

  transition: border 250ms var(--standart-cubic),
    color 250ms var(--standart-cubic);
}

.section-customers-link:hover,
.section-customers-link:focus {
  color: var(--customers-item-link-hover-color);
  border: 1px solid var(--customers-item-link-hover-color);
}

.section-customers-icon {
  fill: currentColor;
} */

/* --------------- FOOTER --------------- */
/* .footer {
  background: var(--footer-bgr-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo-text-box {
  display: inline-block;
  margin-right: 120px;
}

.footer-sotial-media-box {
  display: inline-block;
}

.footer-logo {
  margin-bottom: 16px;
  display: inline-block;
}

.footer-logo-studio {
  color: var(--footer-logo-studio-color);
  display: inline-block;
}

.footer-text {
  color: var(--footer-subtitle-color);
  width: 264px;
  margin: 0;
}

.footer-social-media-text {
  width: auto;
  color: var(--footer-subtitle-social-media-text-color);
  font-weight: 500;
}

.footer-icon-list {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.footer-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--footer-icon-bgr-color);
  border-radius: 50%;

  transition: background-color 250ms var(--standart-cubic);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: var(--footer-icon-bgr-hover-focus);
}

.footer-subscribe-form {
  margin-left: 80px;
}
.footer-subscribe-text {
  width: auto;
  margin-bottom: 16px;
  color: var(--footer-subtitle-social-media-text-color);
  font-weight: 500;
}

.footer-subscribe-box {
  display: flex;
  gap: 16px;
}

.footer-subscribe-form input {
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  color: var(--footer-subtitle-subscribe-form-text-color);
  background-color: inherit;
  border: var(--footer-subscribe-input-input-border);
  filter: var(--footer-subscribe-input-filter);
  border-radius: 4px;
  transition: border-color 250ms var(--standart-cubic);
}

.footer-subscribe-form input:hover,
.footer-subscribe-form input:focus {
  border-color: #4d5ae5;
  outline: #4d5ae5;
}

.footer-subscribe-form input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--footer-subscribe-input-placeholder-color);
}

.footer-subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 8px 24px;
  background-color: var(--subscribe-button-bgr-color);
  color: var(--footer-subtitle-subscribe-form-text-color);
  transition: background-color 250ms var(--standart-cubic);
}

.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
  background-color: #404bbf;
} */

/* --------------- PORTFOLIO BUTTONS--------------- */
/* .portfolio { */

/* padding-top: 168px;  for fixed header*/

/* padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-buttons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.portfolio-buttons-item {
  margin-right: 24px;
}

.portfolio-buttons-item:last-child {
  margin-right: 0;
}

.portfolio-button {
  background-color: var(--portfolio-btn-bgr-color-normal);
  border: 1px solid var(--portfolio-btn-border);
  padding: 12px 24px;
  color: var(--portfolio-btn-content-color);

  transition: color 250ms var(--standart-cubic),
    background-color 250ms var(--standart-cubic),
    box-shadow 250ms var(--standart-cubic),
    border-color 250ms var(--standart-cubic);
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--portfolio-btn-bgr-color-hover-focus);
  color: var(--portfolio-btn-content-color-hover-focus);
  box-shadow: var(--portfolio-btn-hover-shadow);
  border-color: transparent;
} */

/* --------------- PORTFOLIO CARDS--------------- */

/* .portfolio-cards-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-cards-item {
  margin-bottom: 48px;
  margin-right: 24px;
}

.portfolio-cards-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-cards-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms var(--standart-cubic);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: var(--portfolio-link-box-hover-shadow);
}

.portfolio-card-box {
  position: relative;
  overflow: hidden;
}

.portfolio-card-box-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px 164px;
  background-color: var(--portfolio-card-hover-bgr-color);
  color: var(--portfolio-text-bgr-color);
  transition: transform 250ms var(--standart-cubic);
  transform: TranslateY(100%);
}

.portfolio-link:hover .portfolio-card-box-overlay,
.portfolio-link:focus .portfolio-card-box-overlay {
  transform: TranslateY(0);
}

.cards-content-container {
  padding: 32px 16px;
  border: 1px solid var(--portfolio-cards-border-color);
  border-top: none;
}

.portfolio-cards-item-title {
  color: var(--item-title-color);
} */
